# Documentation and examples for what this does:
#
#  https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This file is a list of rules, with the last rule being most specific
# All of the people (and only those people) from the matching rule will be notified

# Default rule: anything that doesn't match a more specific rule goes here

* @dapr/approvers-docs @dapr/maintainers-docs

# Other rules (last matching rule takes precedence)

/sdkdocs/ @dapr/approvers-docs @dapr/maintainers-docs @dapr/maintainers-dotnet-sdk @dapr/maintainers-rust-sdk @dapr/maintainers-go-sdk @dapr/maintainers-java-sdk @dapr/maintainers-python-sdk @dapr/maintainers-js-sdk

