$primary:#0D2192;
$secondary: #3ea9f5;
$highlight1:#ff4e00;
$highlight2: #efca08;

// Sidebar colors
$td-sidebar-tree-root-color: $primary;
$td-sidebar-bg-color: #f8f9fa;
$td-sidebar-border-color: #dee2e6;

.navbar-brand {
    text-align: left;

    svg {
        display: inline-block;
        margin: 0 10px;
        height: 60px;
    }
}